<div class="d-flex justify-content-center mt-5">
  <div class="bg-white p-5 rounded">
    <h1 class="text-success">Booking Successful!</h1>
<%= link_to 'view bookings', dashboard_path %>
  </div>
</div>
