// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "map";
@import "booking_card";
@import "booking_button";
@import "footer";

.boat-list {
  width: 50%;
  padding: 10px;
}

@media(max-width: 992px) {
  #map {
    display: none;
  }
  .boat-list {
    width: 100%;
  }
}

